<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!-- Para la api, estará con el prefijo /api -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>

	<!-- Servlets de la api -->
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>aiss.api.ProyectoMiyamotoApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
  
  
  <!-- Index -->
  
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>aiss.Index</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<!-- SearchController -->
	<servlet>
		<description></description>
		<display-name>SearchController</display-name>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>aiss.controller.SearchController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>
	
	<!-- AliExpressController -->
	<servlet>
		<description></description>
		<display-name>AliExpressController</display-name>
		<servlet-name>AliExpressController</servlet-name>
		<servlet-class>aiss.controller.AliExpressController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AliExpressController</servlet-name>
		<url-pattern>/AliExpressController</url-pattern>
	</servlet-mapping>
	
	<!-- AnimeNewsController -->
	<servlet>
		<description></description>
		<display-name>AnimeNewsController</display-name>
		<servlet-name>AnimeNewsController</servlet-name>
		<servlet-class>aiss.controller.AnimeNewsController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AnimeNewsController</servlet-name>
		<url-pattern>/AnimeNewsController</url-pattern>
	</servlet-mapping>
	
	<!-- TumblrController -->
	<servlet>
		<description></description>
		<display-name>TumblrController</display-name>
		<servlet-name>TumblrController</servlet-name>
		<servlet-class>aiss.controller.TumblrController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TumblrController</servlet-name>
		<url-pattern>/TumblrController</url-pattern>
	</servlet-mapping>
	
	<!-- YouTubeController -->
	<servlet>
		<description></description>
		<display-name>YouTubeController</display-name>
		<servlet-name>YouTubeController</servlet-name>
		<servlet-class>aiss.controller.YouTubeController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>YouTubeController</servlet-name>
		<url-pattern>/YouTubeController</url-pattern>
	</servlet-mapping>
	
	
	<!-- Fichero de bienvenida -->
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	
	<!-- Fichero de error -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
  

</web-app>